.main{
    width: 100%;
    height: 580px;
    background-image: url('./38315c7e9c01e5a7294e7b1cbebc53a59a7d48e8.jpg');
 background-position: center center;
 background-repeat: no-repeat;
 background-size: contain;
 background-size: cover;
}
.start{
    width:100%;
    height: 80px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}
.logo{
    margin-top: 5px;
    margin-left: 25px;
    width: 150px;
    height: 70px;
    /* background-color: blue; */
}
.menu {
    gap:20px;
    margin-left: 350px;
    display: flex;
    align-items: center;
}
.menu p{
    color:white;
}
.menu button{
    border:none;
    height: 35px;
    background-color: rgba(26, 62, 62, 1);
    color:white;
}
.offer{
    margin-top: 190px;
    margin-left: 200px;
    width: 900px;
    height: 300px;
    /* background-color: blueviolet; */
}
.offer h1{
    color: white;
    font-size: 35px;
    font-family: 'Stapel',sans-serif;
}
.locations{
    align-items: center;
    display: flex;
    border-radius: 10px;
    width:900px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.5);
}
.locations select{
    border: 2px solid white;
    height: 35px;
    margin-left: 15px;
}
#data{
    height: 35px;
    margin-left: 40px;
}
.program{
    border:none;
    background-color: rgba(253, 253, 253, 1);
    color:rgba(26, 62, 62, 1);
    height: 35px;
    margin-left: 100px;
}