.main{
    width: 100%;
    height: 580px;
    background-image: url('./38315c7e9c01e5a7294e7b1cbebc53a59a7d48e8.jpg');
 background-position: center center;
 background-repeat: no-repeat;
 background-size: contain;
 background-size: cover;
}
.start{
    width:100%;
    height: 80px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}
.logo{
    margin-top: 5px;
    margin-left: 25px;
    width: 150px;
    height: 70px;
    /* background-color: blue; */
}
.menu {
    gap:20px;
    margin-left: 350px;
    display: flex;
    align-items: center;
}
.menu p{
    color:white;
}
.menu button{
    border:none;
    height: 35px;
    background-color: rgba(26, 62, 62, 1);
    color:white;
}
.offer{
    margin-top: 190px;
    margin-left: 200px;
    width: 900px;
    height: 300px;
    /* background-color: blueviolet; */
}
.offer h1{
    color: white;
    font-size: 35px;
    font-family: 'Stapel',sans-serif;
}
.locations{
    align-items: center;
    display: flex;
    border-radius: 10px;
    width:900px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.5);
}
.locations select{
    border: 2px solid white;
    height: 35px;
    margin-left: 15px;
}
#data{
    height: 35px;
    margin-left: 40px;
}
.program{
    border:none;
    background-color: rgba(253, 253, 253, 1);
    color:rgba(26, 62, 62, 1);
    height: 35px;
    margin-left: 100px;
}
.travel{
    display: flex;
    width:100%;
    height: 500px;
    /* background-color: teal; */
}
.menu-btn{
    display:none ;
}
.find{
    display: none;
}
.video-file{
    margin-left: 15px;
    margin-top: 15px;
    width:400px;
    height: 400px;
    /* background-color: blue; */
}
.tahqiq{
    margin-left: 220px;
    margin-top: 15px;
    width: 500px;
    height: 300px;
    /* background-color: aqua; */

}
.tahqiq h1{
    color: rgba(242, 190, 34, 1);
    text-align: center;
    font-family: 'Popins',sans-serif;
}
.tahqiq p{
    margin-left: 20px;
    font-family:'Popins',sans-serif;
    
}
.tahqiq button{
    height: 35px;
    margin-left: 150px;
    background-color: rgba(26, 62, 62, 1);
    color:white;
    border:none;
}
.programs{
   display: flex; 
    width: 100%;
    height: 800px;
    /* background-color: teal; */
}
.price{
    margin-top: 15px;
    margin-left: 15px;
    width: 500px;
    height: 650px;
    /* background-color: blueviolet; */

}
.price h5{
    color: rgba(242, 190, 34, 1);
    font-family: 'Popins',sans-serif;
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}
.price h2{
    font-family: 'Popins',sans-serif;
    margin-top: -15px;
    text-align: center;
}
.price p{
    margin-left: 15px;
}
.off1{
    width:450px;
    height: 120px;
    background-color: lightgray;
    display: flex;
    margin-left: 25px;
}
.off1 h3{
    margin-top: -2px;
    margin-left: 10px;
}
.off1 p{
    margin-top: 45px;
    margin-left: -100px;
}
.image1{
    display: flex;
}
.stom{
    border: none;
    color:white;
    background-color: rgba(26, 62, 62, 1);
    height: 35px;
    margin-top: 20px;
    margin-left: 50px;
}
.places{
    margin-top: 100px;
    height: 490px;
    margin-left: 150px;
}
.popular{
    width: 100%;
    height: 520px;
    /* background-color:green; */
}
.popular h3{
    font-family: 'popins',sans-serif;
    color: rgba(242, 190, 34, 1);
    text-align: center;
}
.popular h2{
    font-family: 'Popins',sans-serif;
    text-align: center;
}
.cards{
    display: flex;
    margin-left: 50px;
    width: 90%;
    height:350px;
    /* background-color: aqua; */
    justify-content: space-around;
}
.card1{
    background-color: blueviolet;
    margin-top: 15px;
    margin-left: 15px;
    width: 250px;
    height: 250px;
    background-image: url('./d05c031639504f3a781b84f1a32907d478fae892.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}
.desc{
    margin-top: 190px;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.4);
}
@media (max-width:450px){
    .menu{
        display: none;
    }
    .main{
        /* background-color: aqua; */
        width: 90%;
    }
    .locations{
        display:none;
    }
    .start{
        width:100%;
    }
    .offer{
        width:40%;
    }
    .offer h1{
        margin-left: -180px;
    }
.menu-btn{
    margin-top: 50px;
    margin-left: 320px;
    display: flex;
}
.find{
    width: 200px;
    height:80px;
    background-color: aqua;
}
.travel{
    margin-top: 220px;
    margin-left: -200px;
    width:100%;
    flex-direction: column-reverse;
}
.tahqiq{
    width:100%;
}
.travel img{
    
    margin-left: 190px;
}
.places{
    display: none;
}
}